/* Custom */

::-webkit-scrollbar {
    display: none; /* Chrome Safari Hide Scrollbar */
  }


/* Custom - Container */
#main {
    width: 94%;
    scrollbar-width: none; /* Firefox Hide Scrollbar */
}

/* Custom - Title */
#title {
    font-family: Bad Script
}